/* -------------------- FONT --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* ---------------- CODE COULEUR ----------------- */

/* ==================== BODY ===================== */

/* on modifie le style du body (par défaut) */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* va prendre en compte le padding, les bordures etc... dans le calcule des largeurs et des hauteurs (ne fera pas +) */
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

/* =================== HEADER ==================== */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

header .logo {
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
}

header ul {
    display: flex; /* va les aligner sur une ligne */
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

/* -------------- ANIMATION HEADER --------------- */

header ul li a:hover, 
header ul li a.active {
    background: aliceblue;
    color: royalblue;
}

/* ================= MOON-LIGHT ================== */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#title {
    position: absolute;
    right: -280px;
    color: aliceblue;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

/* ------------- BOUTON "EXPLOREZ" --------------- */

#btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 40px;
    background: aliceblue;
    color: royalblue;
    font-size: 1.8rem;
    z-index: 9;
    transform: translateY(100px);
    margin-bottom: -10px;
}

/* =================== POÈME ===================== */

.section-text {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.section-text h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: aliceblue;
}

.section-text p {
    font-size: 1.1rem;
    color: aliceblue;
}